@font-face {
  font-weight: 300;
  font-family: Gilroy;
  font-display: swap;
  src: url("./fonts/Gilroy-Light.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Gilroy;
  font-display: swap;
  src: url("./fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Gilroy;
  font-display: swap;
  src: url("./fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-weight: 600;
  font-family: Gilroy;
  font-display: swap;
  src: url("./fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Gilroy;
  font-display: swap;
  src: url("./fonts/Gilroy-Heavy.ttf");
}
