/*.reviews-block-section {
    background-color: #fcd46c;
    padding: 50px 20px;
    text-align: center;
  }*/

.reviews-block-section {
  background: linear-gradient(to bottom, #fff, #ffcb3e);
  margin: 10px;
  padding: 100px 20px;
  text-align: center;
}

.reviews-block-container {
  max-width: 1200px;
  margin: 0 auto;
}

.reviews-block-container h1 {
  font-size: 2.5rem;
  color: #4d0ca0;
  margin-bottom: 10px;
}

.reviews-block-container .subtitle {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 40px;
}

/* Сітка для карток */
.reviews {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.review-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легка тінь */
  padding: 20px;
  text-align: center;
  width: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.review-card:hover {
  transform: translateY(-10px); /* Підняття картки */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.review-card img {
  border-radius: 50%;
  margin-bottom: 15px;
  border: 3px solid #905ccc;
  object-fit: cover;
}

.review-card h3 {
  font-size: 1.5rem;
  color: #905ccc;
  margin: 10px 0;
}

.review-card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.5;
}

.review-card .rating {
  font-size: 1.2rem;
  color: #ffcb3e;
  margin-bottom: 15px;
}

.review-card .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4d0ca0;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.review-card .btn:hover {
  background-color: #4d0ca0; /* Темніший фіолетовий */
}

.reviews-add-container {
  margin-bottom: 50px;
}

.reviews-add-button {
  padding: 20px 40px;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--white);
  background-color: var(--main-purple);
}

.reviews-add-button:hover {
  background-color: var(--light-purple);
}

.review-form {
  margin-bottom: 20px;
  justify-items: center;
}

#review-text {
  max-width: 100%;
  width: 100%;
  border-width: 1px;
  border-radius: 8px;
  min-height: 55px;
  padding: 6px 16px;
}

.review-name-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#review-name {
  max-width: 100%;
  width: 100%;
  border-width: 1px;
  border-radius: 15px;
  padding: 6px 16px;
}

.review-text-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.review-rating {
  margin-bottom: 20px;
}

.star-rating {
  display: flex;
  justify-self: center;
  gap: 5px;
  cursor: pointer;
}

.star {
  font-size: 24px;
  color: gray;
}

.star.selected {
  color: gold;
}

.file-preview {
  max-width: 100%;
  margin-top: 10px;
}

.file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
