:root {
  --main-purple: #4d0ca0;
  --main-yellow: #ffcb3e;
  --light-grey: #f5f7f6;
  --light-yellow: #fcd46c; /* для кнопки використовувала */
  --light-purple: #905ccc; /* для кнопки використовувала */
  --white: #fff;
  --black: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Gilroy, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--black);
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
