:root {
    --main-purple: #4d0ca0;
    --main-yellow: #ffcb3e;
    --light-yellow: #fcd46c; /* для кнопки використовувала */
    --light-purple: #905ccc; /* для кнопки використовувала */
    --white: #fff;
    --black: #000;
  }